# Ignorar entornos virtuales
venv/
.env/

# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración de VS Code o PyCharm
.vscode/
.idea/

# Ignorar archivos del sistema
.DS_Store
